SFL_POSTGRES_USER=sfl
SFL_POSTGRES_PASSWORD=change-me
SFL_POSTGRES_DB=sfl
SFL_REDIS_PASSWORD=change-me
SFL_RABBITMQ_USER=sfl
SFL_RABBITMQ_PASSWORD=change-me
SFL_KEYCLOAK_ADMIN=admin
SFL_KEYCLOAK_ADMIN_PASSWORD=change-me
