SFL_DB_URL=jdbc:postgresql://localhost:5434/sfl_java
SFL_DB_USERNAME=postgres
SFL_DB_PASSWORD=change-me
SFL_PORT=8081
SFL_SECURITY_ENABLED=false
SFL_KEYCLOAK_ISSUER=http://localhost:8080/realms/sfl
SFL_REDIS_HOST=localhost
SFL_RABBITMQ_HOST=localhost

